.theme-navigation {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	font-size: 13px;
	margin: 20px 0 30px;
	position: relative;
	width: 100%;
}
.theme-navigation a {
	text-decoration: none;
}
.theme-section {
	cursor: pointer;
	display: inline-block;
	margin: 0 10px;
	padding: 15px 0;
}
.theme-section.current {
	border-bottom: 4px solid #666;
	font-weight: 600;
}
.theme-categories-label {
	font-weight: 600;
	padding: 13px 20px 19px 0;
	margin-right: 10px; 
}

.theme-search-holder {
	display: inline-block;
	float: right;
}
.theme-search-holder label {
	font-weight: 600;
	padding: 13px 20px 19px 0;
	margin-right: 10px;
}
.theme-search-holder input {
	  margin: 15px 0;
}
.theme-links {
	position: absolute;
	bottom: 5%;
	width: 100%;
	text-align: center;
}


.wmd-themes-showcase-single .theme-screenshots img {
	border: 1px solid #dedede;
}



.theme-browser .theme {
	float: left;
	margin: 0 4% 4% 0;
	position: relative;
	width: 47.6%;
	border: 1px solid #dedede;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.theme-browser .theme:nth-child(2n) {
	margin-right: 0;
}

.theme-browser .theme .theme-screenshot {
	display: block;
	overflow: hidden;
	position: relative;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.theme-browser .theme .theme-screenshot:after {
	content: '';
	display: block;
	padding-top: 66.66666%; /* using a 3/2 aspect ratio */
}

.theme-browser .theme .theme-screenshot img {
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-transform: translateZ( 0 ); /* Prevents rendering bugs in Chrome */
	-webkit-transition: opacity 0.2s ease-in-out; /* Prevents rendering bugs in Chrome */
	transition: opacity 0.2s ease-in-out;
}

.theme-browser .theme:hover .theme-screenshot,
.theme-browser .theme:focus .theme-screenshot {
	background: #fff;
}

.theme-browser.rendered .theme:hover .theme-screenshot img,
.theme-browser.rendered .theme:focus .theme-screenshot img {
	opacity: 0.4;
}

.theme-browser .theme .more-details {
	display: inline-block;
	margin: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	background: #222;
	background: rgba(0,0,0,0.7);
	color: #fff;
	font-size: 15px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.6);
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	padding: 15px 12px;
	text-align: center;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
	text-decoration: none;
}
.theme-browser .theme .live-preview {
	top: 55%;
}
.theme-browser .theme .more-details:hover {
	background: rgba(0,0,0,95);
}

.theme-browser .theme:focus {
	border-color: #5b9dd9;
	-webkit-box-shadow: 0 0 2px rgba( 30, 140, 190, 0.8 );
	box-shadow: 0 0 2px rgba( 30, 140, 190, 0.8 );
}

.theme-browser .theme:focus .more-details,
.theme-browser.always-show-buttons .more-details {
	opacity: 1;
}

.theme-browser.rendered .theme:hover .more-details,
.theme-browser.rendered .theme:focus .more-details {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}

.theme-browser .theme .theme-screenshot.blank,
.theme-overlay .screenshot.blank {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAALElEQVQYGWO8d+/efwYkoKioiMRjYGBC4WHhUK6A8T8QIJt8//59ZC493AAAQssKpBK4F5AAAAAASUVORK5CYII=);
}

@media only screen and (max-width: 780px) {
	.theme-browser.rendered .theme:hover .theme-screenshot img,
	.theme-browser.rendered .theme:focus .theme-screenshot img,
	.theme-browser .theme .more-details {
		opacity: 1.0;
	}

	.theme-search-holder {
		float: none;
	}
	.theme-browser .theme {
		width: 100%;
		margin-right: 0;
	}

	.theme-browser .theme:nth-child(2n) {
		margin-right: 0;
	}
}